@import './../tokens/colors';
@import './../tokens/spacings';
@import './../tokens/typos';

.sladio {
  position: relative;
  @include font-size($p);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &__progressbar {
    width: 100%;
    max-width: 100%;
    height: 5px;
    background: #ccc;

    &-bar {
      width: 0%;
      height: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      background: $color-primario;
    }
  }

  &__container {
    height: 40vw;
    max-height: 50vh;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }

    &.horizontal {
      display: flex;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      // -webkit-scroll-snap-points-y: repeat(100%);
      // scroll-snap-points-y: repeat(100%);
    }

    &.vertical {
      scroll-snap-type: mandatory;
      scroll-snap-points-y: repeat(100%);
      scroll-snap-type: y mandatory;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none; /* IE and Edge */
    user-select: none;
    background-color: get-opacity($color-primario, 0.2);

    &:nth-child(even) {
      color: $color-claro;
      background-color: $color-oscuro;
    }

    &-start {
      scroll-snap-align: start;
    }

    &-center {
      scroll-snap-align: center;
    }

    &-end {
      scroll-snap-align: end;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__indicator {
    &.horizontal {
      text-align: center;
      p {
        width: 100%;
        background-color: $color-bg-claro;
      }

      .sladio__indicator__bullets {
        display: flex;
        align-items: center;
        justify-content: center;

        .bullets {
          padding: 5px;
          margin: $space_half;
          border-radius: 100%;
          border: 2px solid $color-primario;
          transition: 0.2s ease-in-out 0.1s;

          &:hover {
            background-color: get-opacity($color-primario, 0.2);
          }
        }

        .bullet_selected {
          background-color: $color-primario;
          &:hover {
            background-color: $color-primario;
          }
        }
      }
    }

    &.vertical {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      .sladio__indicator__bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .bullets {
          padding: 5px;
          margin: 2px;
          border-radius: 100%;
          transition: 0.2s ease-in-out 0.1s;
          background-color: get-opacity($color-claro, 0.2);

          &:hover {
            background-color: get-opacity($color-claro, 1);
          }
        }

        .bullet_selected {
          background-color: $color-primario;
          &:hover {
            background-color: $color-primario;
          }
        }
      }
    }
  }
}
