//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

//Brand colors

$color-primario: #f2d649;
$color-secundario: #8d9cf2;

//Action colors
$color-variante: #4154bf;
$color-variante-dos: #1364ac;

//Boolean colors
$color-negative: rgba(255, 0, 0, 0.8);
$color-positive: #04bf42;

//Background colors

$color-bg-claro: #f2f2f2;
$color-bg-oscuro: #181818;

//Basic colors

$color-claro: #ffffff;
$color-oscuro: #262626;
