//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

//Brand colors

$color-primario: #4154BF;
$color-secundario: #8D9CF2;

//Action colors

$color-variante: #F2D649;
$color-variante-dos:  #1364ac ;

//Boolean colors
$color-negative: rgba(255, 0, 0, 0.8);
$color-positive: #04bf42;

//Background colors

$color-bg-claro: #f2f2f2;
$color-bg-oscuro: #181818;

//Basic colors

$color-claro: #ffffff;
$color-oscuro: #262626;
