//  ███████╗.██████╗.███╗...██╗████████╗███████╗
//  ██╔════╝██╔═══██╗████╗..██║╚══██╔══╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║...██║...███████╗
//  ██╔══╝..██║...██║██║╚██╗██║...██║...╚════██║
//  ██║.....╚██████╔╝██║.╚████║...██║...███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝...╚═╝...╚══════╝
//  ............................................


$Fuente1: sans-serif;
$Fuente2: 'Oswald', system-ui;
//typos
$h1: 52px;
$h2: 32px;
$h3: 22px;
$p: 16px;
$small: 10px;


//Typo bolds

$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;