@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: $color-bg-claro;
}

::-webkit-scrollbar-thumb {
  background: $color-oscuro;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-bg-oscuro;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  font-family: $Fuente1;
  color: $color-oscuro;
  background-color: $color-bg-claro;
}
